@tailwind base;
@tailwind components;
@tailwind utilities;



  /* Custom width for the calendar */
.react-calendar {
    width: 100%;
    max-width: 500px; 
    border: 1px solid #4a90e2;
    border-radius: 8px;
    margin: 2px;
    padding: 3px;
  }

  @media (max-width: 640px) {
    .react-calendar {
      max-width: 300px;
      padding: 2px; 
    }
  }
  
  .react-calendar__tile {
    border-radius: 5px; 
  }
  

  .react-calendar__tile--now {
    background: #98ABFF;
    color: darkest;
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5); /* Enlarge the dot */
    opacity: 0.5; /* Change opacity */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #10197A;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
